/*******************************************************************
3D Buttons
*******************************************************************/
.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#78d739;
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
    box-shadow:0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #78d739;
}
.btn3d.btn-info {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#39B3D7;
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #39B3D7;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#FEAF20;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FEAF20;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#D73814;
}
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #D73814;
}
.btn3d.btn-magick {
    color: #fff;
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#bb39d7;
}
.btn3d.btn-magick:active, .btn3d.btn-magick.active {
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #bb39d7;
}


/**************************************************
Custom Color Buttons
**************************************************/
.btn-red {
  color: #ffffff;
  background-color: #ff2727;
  border-color: #ff0d0d;
}
.btn-red:focus,
.btn-red.focus {
  color: #ffffff;
  background-color: #f30000;
  border-color: #8d0000;
}
.btn-red:hover {
  color: #ffffff;
  background-color: #f30000;
  border-color: #cf0000;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #f30000;
  border-color: #cf0000;
}
.btn-red:active:hover,
.btn-red.active:hover,
.open > .dropdown-toggle.btn-red:hover,
.btn-red:active:focus,
.btn-red.active:focus,
.open > .dropdown-toggle.btn-red:focus,
.btn-red:active.focus,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red.focus {
  color: #ffffff;
  background-color: #cf0000;
  border-color: #8d0000;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #ff2727;
  border-color: #ff0d0d;
}
.btn-red .badge {
  color: #ff2727;
  background-color: #ffffff;
}
.btn-green {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-green:focus,
.btn-green.focus {
  color: #ffffff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-green:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-green .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn-yellow {
  color: #ffffff;
  background-color: #d8d85e;
  border-color: #d3d349;
}
.btn-yellow:focus,
.btn-yellow.focus {
  color: #ffffff;
  background-color: #cece35;
  border-color: #7e7e1f;
}
.btn-yellow:hover {
  color: #ffffff;
  background-color: #cece35;
  border-color: #b4b42c;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  color: #ffffff;
  background-color: #cece35;
  border-color: #b4b42c;
}
.btn-yellow:active:hover,
.btn-yellow.active:hover,
.open > .dropdown-toggle.btn-yellow:hover,
.btn-yellow:active:focus,
.btn-yellow.active:focus,
.open > .dropdown-toggle.btn-yellow:focus,
.btn-yellow:active.focus,
.btn-yellow.active.focus,
.open > .dropdown-toggle.btn-yellow.focus {
  color: #ffffff;
  background-color: #b4b42c;
  border-color: #7e7e1f;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  background-image: none;
}
.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
  background-color: #d8d85e;
  border-color: #d3d349;
}
.btn-yellow .badge {
  color: #d8d85e;
  background-color: #ffffff;
}
.btn-orange {
  color: #ffffff;
  background-color: #f68e38;
  border-color: #f58020;
}
.btn-orange:focus,
.btn-orange.focus {
  color: #ffffff;
  background-color: #f0730b;
  border-color: #8f4406;
}
.btn-orange:hover {
  color: #ffffff;
  background-color: #f0730b;
  border-color: #ce6209;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #ffffff;
  background-color: #f0730b;
  border-color: #ce6209;
}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
  color: #ffffff;
  background-color: #ce6209;
  border-color: #8f4406;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #f68e38;
  border-color: #f58020;
}
.btn-orange .badge {
  color: #f68e38;
  background-color: #ffffff;
}
.btn-pink {
  color: #ffffff;
  background-color: #f68a87;
  border-color: #f4736f;
}
.btn-pink:focus,
.btn-pink.focus {
  color: #ffffff;
  background-color: #f25c58;
  border-color: #d41510;
}
.btn-pink:hover {
  color: #ffffff;
  background-color: #f25c58;
  border-color: #f03b36;
}
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
  color: #ffffff;
  background-color: #f25c58;
  border-color: #f03b36;
}
.btn-pink:active:hover,
.btn-pink.active:hover,
.open > .dropdown-toggle.btn-pink:hover,
.btn-pink:active:focus,
.btn-pink.active:focus,
.open > .dropdown-toggle.btn-pink:focus,
.btn-pink:active.focus,
.btn-pink.active.focus,
.open > .dropdown-toggle.btn-pink.focus {
  color: #ffffff;
  background-color: #f03b36;
  border-color: #d41510;
}
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
  background-image: none;
}
.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled.focus,
.btn-pink[disabled].focus,
fieldset[disabled] .btn-pink.focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #f68a87;
  border-color: #f4736f;
}
.btn-pink .badge {
  color: #f68a87;
  background-color: #ffffff;
}
.btn-lightblue {
  color: #ffffff;
  background-color: #75caeb;
  border-color: #5fc1e8;
}
.btn-lightblue:focus,
.btn-lightblue.focus {
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #1984ae;
}
.btn-lightblue:hover {
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #29ade0;
}
.btn-lightblue:active,
.btn-lightblue.active,
.open > .dropdown-toggle.btn-lightblue {
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #29ade0;
}
.btn-lightblue:active:hover,
.btn-lightblue.active:hover,
.open > .dropdown-toggle.btn-lightblue:hover,
.btn-lightblue:active:focus,
.btn-lightblue.active:focus,
.open > .dropdown-toggle.btn-lightblue:focus,
.btn-lightblue:active.focus,
.btn-lightblue.active.focus,
.open > .dropdown-toggle.btn-lightblue.focus {
  color: #ffffff;
  background-color: #29ade0;
  border-color: #1984ae;
}
.btn-lightblue:active,
.btn-lightblue.active,
.open > .dropdown-toggle.btn-lightblue {
  background-image: none;
}
.btn-lightblue.disabled,
.btn-lightblue[disabled],
fieldset[disabled] .btn-lightblue,
.btn-lightblue.disabled:hover,
.btn-lightblue[disabled]:hover,
fieldset[disabled] .btn-lightblue:hover,
.btn-lightblue.disabled:focus,
.btn-lightblue[disabled]:focus,
fieldset[disabled] .btn-lightblue:focus,
.btn-lightblue.disabled.focus,
.btn-lightblue[disabled].focus,
fieldset[disabled] .btn-lightblue.focus,
.btn-lightblue.disabled:active,
.btn-lightblue[disabled]:active,
fieldset[disabled] .btn-lightblue:active,
.btn-lightblue.disabled.active,
.btn-lightblue[disabled].active,
fieldset[disabled] .btn-lightblue.active {
  background-color: #75caeb;
  border-color: #5fc1e8;
}
.btn-lightblue .badge {
  color: #75caeb;
  background-color: #ffffff;
}